<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RNDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>790D628D6C70F1F6E9E39B35142CAB58F2C628ED</string>
				<key>dateExpires</key>
				<string>2018-09-08</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>65XUTC7A9X.org.reactjs.native.example.RNDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>65XUTC7A9X</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>65XUTC7A9X.org.reactjs.native.example.RNDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>RNDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ba350cd6-946d-437d-9a40-b15f168a2295</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>65XUTC7A9X</string>
				<key>name</key>
				<string>Jiarong He</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
